.jfx-button {
    -jfx-button-type: RAISED;
    -fx-font-size: 16;
    -fx-background-color:#ffffff;         //设置背景颜色
    -fx-background-radius:15;     //设置背景圆角
    -fx-text-fill:#003366;        //设置字体颜色
    -fx-border-radius:1;         //设置边框圆角
    -fx-border-insets:-5;
}

/*!* 鼠标悬停时，按钮突出 *!*/
.jfx-button:hover{
    -fx-background-color: #B4CDCD;
}

/* 按钮选中时，按钮突出 */
.jfx-button:focused{
    -fx-background-color: #00BFFF;
}

/* 修改Tab中文本的颜色 */
.tab-label {
    -fx-text-fill: #383838;
}



/* 修改Tab中背景颜色*/
.jfx-tab-pane .headers-region {
    -fx-background-color: white;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: white;
}
